html, body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: antialiased !important;
  font-family: 'Roboto', sans-serif;
  color: black;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none
  }

button {
  cursor: pointer;
}

body {
  background: white;
}

::-webkit-scrollbar {
  width: 0
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: transparent
}

.t-white {
  color: #ffffff;
}
.t-black {
  color: #000000;
}

h1 {
  font-size: 54px;
}
h2 {
  font-size: 34px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}
p {
  font-size: 12px;
}
p.medium {
  font-size: 10px;
}
p.small {
  font-size: 8px;
}

.light {
  font-weight: 200;
}
.reg {
  font-weight: 400;
}
.semi-bold {
  font-weight: 600;
}
.bold {
  font-weight: 800;
}

.center-align {
  text-align: center;
}
.left-align {
  text-align: left;
}
.right-align {
  text-align: right;
}
.justify-align {
  text-align: justify;
}

.uppercase {
  text-transform: uppercase;
}

.center-fixed {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.full-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.center-absolute{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
}
.full-absolute{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-evenly {
  justify-content: space-evenly;
}
.justify-around {
  justify-content: space-around;
}
.justify-between {
  justify-content: space-between;
}
.f-a-center {
  align-items: center;
}
.f-a-start {
  align-items: flex-start;
}
.f-a-end {
  align-items: flex-end;
}
.f-direction-column {
  flex-direction: column;
}

/* Navbar section */

.navcontainer {
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
}

ul {
  padding: 0 40px;
  height: 100%;
  width: 100%;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: inline-table;
  list-style: none;
}

ul li {
  width: 112px;
  height: 100%;
  position: relative;
}

ul li a {
  width: 100%;
  height: 100%;
  font-size: 12px;
}

.navlink {
  height: 100%;
}

  /* dropdown navbar */

  ul li:hover {
    background-color: rgba(0, 0, 0, 1);
  }

  ul li:hover .arrowdown {
    display: block;
  }

  ul li:hover .solution {
    display: block;
  }

  .navlink .arrowdown {
    background-repeat: no-repeat;
    object-fit: contain;
    width: 15px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    display: none;
    z-index: 100;
  }

  .solution {
    display: none;
    width: 1366px;
    margin: 0;
    position: absolute;
    top: 100%;
    left: -60px;
    height: 240px;
    background-color: rgba(0, 0, 0, 1);
  }

  /* inside solutions hover */
  .wrapper-solution {
    height: 100%;
  }
  .grid-one {
    height: 100%;
    width: 100%;
  }
    /* grid one */
    .wrapper-content-one {
      width: 100px;
      height: 200px;
    }
    .wrapper-content-one p {
      font-size: 8px;
      margin: 30px 0 13px;
    }
    .wrapper-content-one h6 {
      font-size: 12px;
      margin-bottom: 8px;
    }

  .grid-two {
    width: 100%;
    height: 100%;
  }
    /* .grid-two */
    .wrapper-content-two {
      width: 100px;
      height: 200px;
    }
    .wrapper-content-two p {
      font-size: 8px;
      margin: 30px 0 13px;
    }
    .wrapper-content-two h6 {
      font-size: 12px;
      margin-bottom: 8px;
    }


  .grid-three {
    width: 100%;
    height: 100%;
  }
  /* grid-three */
    .wrapper-content-three {
      background-color: lightgreen;
      width: 100%;
      height: 100%;
    }

  .grid-four {
    width: 100%;
    height: 100%;
  }
  /* grid-four */
    .wrapper-content-four {
      width: 90%;
      height: 100%;
    }
    .wrapper-content-four p:first-child {
      font-size: 8px;
      margin: 30px 0 8px;
    }
    .wrapper-content-four h3 {
      font-weight: 200;
      width: 300px;
      margin-bottom: 40px;
    }

  /* dropdown navbar */

/* End of Navbar */

/* section one */
.section-one {
  width: 100%;
  height: 730px;
  position: relative;
  background-color: lightskyblue;
}
  .section-one img {
    /* background-image: ; */
    width: 100%;
  }
  .section-one h1 {
    font-size: 96px;
    width: 884px;
    font-weight: 100;
    line-height: 112px;
  }
  .section-one h6 {
    font-weight: 300;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 65%;
    left: 50%;
  }
/* end section one */

/* section two */
.section-two {
  width: 100%;
  height: 680px;
  position: relative;
  background-color: #272727;
}
 .section-two h2 {
   font-size: 48px;
   position: absolute;
   transform: translate(-50%,-50%);
   top: 25%;
   left: 50%;
 }
 .wrapperlogo {
   width: 100%;
   height: 120px;
   position: absolute;
   transform: translate(-50%,-50%);
   top: 55%;
   left: 50%;
   padding: 0 150px;
 }
  .wrapperlogo img {
    margin: 0 0 30px;
  }
 .section-two .learnmore {
   font-weight: 300;
   position: absolute;
   transform: translate(-50%,-50%);
   bottom: 10%;
   left: 50%;
 }
 .section-two .arrowdown {
  position: absolute;
  transform: translate(-50%,-50%);
  bottom: 7%;
  left: 50%;
 }
/* end section two */

/* section three */
.section-three {
  padding: 118px 61px 80px;
}
  .section-three button {
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
    border: none;
    padding: none;
    background: none;
    font-size: 10px;
    font-weight: 300;
    width: 70px;
    letter-spacing: 0.02em;
  }
  .section-three .wrapperbutton {
    margin: 43px 0 34px;
    padding: 0 465px;
  }
  .section-three .wrappercontent {
    width: 100%;
    height: 508px;
  }
    .wrappercontent .carouselimage {
      width: 100%;
      height: 352px;
      background-color: lightblue;
      position: relative;
    }
      .carouselimage .arrowleft {
        position: absolute;
        transform: translate(-50%,-50%) rotate(90deg);
        -webkit-transform: translate(-50%,-50%) rotate(90deg);
        -moz-transform: translate(-50%,-50%) rotate(90deg);
        -ms-transform: translate(-50%,-50%) rotate(90deg);
        -o-transform: translate(-50%,-50%) rotate(90deg);
        top: 50%;
        left: 60px;
      }
      .carouselimage .arrowright {
        position: absolute;
        transform: translate(-50%,-50%) rotate(-90deg);
        -webkit-transform: translate(-50%,-50%) rotate(-90deg);
        -moz-transform: translate(-50%,-50%) rotate(-90deg);
        -ms-transform: translate(-50%,-50%) rotate(-90deg);
        -o-transform: translate(-50%,-50%) rotate(-90deg);
        top: 50%;
        right: 60px;
      }
    .section-three .wrappercontent .carouselcontent {
      width: 100%;
      height: 156px;
      background: #272727;
    }
      .carouselcontent .content1 {
        width: 45%;
        height: 100%;
      }
        .carouselcontent .content1 h1 {
          font-size: 72px;
          font-weight: 300;
          letter-spacing: 0.02em;
        }
      .carouselcontent .content2 {
        width: 27.5%;
        height: 100%;
      }
        .content2 h6 {
          margin: 25px 15px;
        }
        .content2 p {
          margin: 0 15px;
          font-size: 14px;
        }
        .content2 img {
          margin: 0 10px;
          transform: rotate(-90deg);
          -webkit-transform: rotate(-90deg);
          -moz-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          -o-transform: rotate(-90deg);
        }
      .carouselcontent .content3 {
        width: 27.5%;
        height: 100%;
      }
        .content3 h6 {
          margin: 25px 15px;
        }
/* end section three */

/* section four */
.section-four {
  padding: 118px 61px 250px;
}
  .section-four button {
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
    border: none;
    padding: none;
    background: none;
    font-size: 10px;
    font-weight: 300;
    width: 70px;
    letter-spacing: 0.02em;
  }
  .section-four .wrapperbutton {
    margin: 43px 0 34px;
    padding: 0 465px;
  }
  .section-four .wrappercontent {
    width: 1245px;
    height: 500px;
  }
    .section-four .wrappercontent .carouselimage {
      width: 100%;
      height: 325px;
      background-color: lightblue;
      position: relative;
    }
      .carouselimage .arrowleft {
        position: absolute;
        transform: translate(-50%,-50%) rotate(90deg);
        -webkit-transform: translate(-50%,-50%) rotate(90deg);
        -moz-transform: translate(-50%,-50%) rotate(90deg);
        -ms-transform: translate(-50%,-50%) rotate(90deg);
        -o-transform: translate(-50%,-50%) rotate(90deg);
        top: 50%;
        left: 88px;
      }
      .carouselimage .arrowright {
        position: absolute;
        transform: translate(-50%,-50%) rotate(-90deg);
        -webkit-transform: translate(-50%,-50%) rotate(-90deg);
        -moz-transform: translate(-50%,-50%) rotate(-90deg);
        -ms-transform: translate(-50%,-50%) rotate(-90deg);
        -o-transform: translate(-50%,-50%) rotate(-90deg);
        top: 50%;
        right: 88px;
      }
    .section-four .wrappercontent .carouselcontent {
      width: 100%;
      height: 156px;
    }
      .section-four .carouselcontent h3 {
        font-weight: 300;
      }
      .section-four .carouselcontent h6 {
        font-weight: 300;
      }
      .section-four .carouselcontent img {
        margin: 2px 15px;
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
      }
/* end section four */

/* section five */
.section-five {
  width: 100%;
  height: 282px;
  background-color: grey;
  position: relative;
}
  .section-five p {
    font-weight: 300;
    position: absolute;
    transform: translate(-50%,-50%);
    bottom: 10%;
    left: 50%;
  }
  .section-five div {
    margin: 8px auto;
    border: 1px solid #ffffff;
    position: absolute;
    transform: translate(-50%,-50%);
    bottom: 5%;
    left: 50%;
    width: 32px;
  }
/* end section five */

/* section six */
.section-six {
  width: 100%;
  height: 1305px;
  padding: 255px 261px 87px;
  background-color: #272727;
  position: relative;
}
  .section-six h2 {
    font-size: 48px;
  }
  .section-six h6 {
    width: 100%;
    margin: 55px 0;
  }
  .section-six .wrapperinputbox {
    width: 100%;
    height: 415px;
  }
    .section-six .wrapperinputbox .inputtext {
      width: 100%;
      height: 45px;
    }
    .section-six .wrapperinputbox .inputtextarea {
      width: 100%;
      height: 105px;
    }
    .section-six .wrapperinputbox .inputcheckbox {
      width: 100%;
      height: 13px;
    }
      .section-six .inputtext .inputone {
        width: 41%;
        height: 100%;
      }
      .section-six .inputtext .inputtwo {
        width: 56%;
        height: 100%;
      }
      .section-six .inputtext .inputthree {
        width: 45%;
        height: 100%;
      }
      .section-six .inputtext .inputfour {
        width: 52%;
        height: 100%;
      }
      .section-six .inputtext .inputfive {
        width: 100%;
        height: 100%;
      }
    .section-six .wrapperinputbox input, textarea {
      width: 100%;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      padding: 17px 18px;
      font-size: 14px;
      outline: none;
      border: 1px solid #707070;
      background: #ffffff;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }
    .section-six form button[type='submit'] {
      width: 280px;
      height: 58px;
      position: absolute;
      transform: translate(-50%,-50%);
      bottom: 60px;
      left: 50%;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      background-color: #ffffff;
    }
    .section-six .inputcheckbox input[type='checkbox'] {
      width: auto;
      cursor: pointer;
      position: relative;
      padding: 0;
      margin-right: 40px;
      border: none;
    }
    .section-six .inputcheckbox label {
      font-size: 12px;
    }
    .section-six .inputcheckbox input[type='checkbox']:before {
      content: "";
      display: block;
      position: absolute;
      width: 15px;
      height: 15px;
      top: -7px;
      left: 0;
      background-color:#e9e9e9;
    }
    .section-six .inputcheckbox input[type='checkbox']:checked:before {
      content: "";
      display: block;
      position: absolute;
      width: 15px;
      height: 15px;
      top: -7px;
      left: 0;
      background-color:#1E80EF;
    }
    .section-six .inputcheckbox input[type='checkbox']:checked:after {
      content: "";
      display: block;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      top: -8px;
      left: 5px;
    }
    .section-six .wrapperinputbox input:focus {
      border: 1px solid #16daff;
    }
    .section-six .wrapperinputbox textarea:focus {
      border: 1px solid #16daff;
    }
    .section-six .wrapperinputbox input, textarea::-webkit-input-placeholder,
    ::-ms-input-placeholder,
    ::placeholder {
      font-size: 12px;
      color: #707070;
      font-weight: 400;
    }
    .section-six .checkboxrobot {
      margin: 95px auto 25px;
      width: 281px;
      height: 124px;
      background: #F2F2F2;
    }
      .section-six .checkboxrobot input[type='checkbox'] {
        position: relative;
        cursor: pointer;
      }
      .section-six .checkboxrobot input[type='checkbox']:before {
        content: "";
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        top: -8px;
        left: 0;
        background-color:#ffffff;
      }
      .section-six .checkboxrobot input[type='checkbox']:checked:before {
        content: "";
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        top: -8px;
        left: 0;
        background-color:#1E80EF;
      }
      .section-six .checkboxrobot input[type='checkbox']:checked:after {
        content: "";
        display: block;
        width: 10px;
        height: 20px;
        border: solid white;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: -6px;
        left: 6px;
      }
/* end section six */

/* section seven */
.section-seven {
  width: 100%;
  height: 680px;
  background-color: #000000;
  padding: 120px 40px 25px;
}
  .section-seven .about {
    /* width: 100%; */
    height: 300px;
  }
  .section-seven .headoffice .address {
    font-weight: 300;
    margin: 26px 0 16px;
  }
  .section-seven .headoffice .wrappermap {
    width: 100%;
    height: 40px;
  }
  .section-seven .wrappermap .map {
    height: 40px;
  }
  .section-seven .wrappermap .map p {
    margin: 0;
    font-weight: 200;
  }
  .section-seven .wrappermap .openhour {
    height: 40px;
  }
  .section-seven .wrappermap .openhour p {
    margin: 0;
  }
  .section-seven .wrappermap .hour {
    height: 40px;
    margin-right: 25px;
  }
  .section-seven .wrappermap .hour p {
    align-self: flex-end;
  }
    .section-seven .wrappercontent {
      padding: 0;
    }
      .section-seven .wrappercontent h6 {
        font-weight: 300;
        margin: 55px 0 25px;
      }
      .section-seven .wrappercontent p {
        margin: 5px 0;
      }
  .section-seven .contactus .logos {
    width: 100%;
    margin: 30px 0;
  }
    .section-seven .contactus p {
      font-weight: 300;
    }
    .section-seven .number {
      margin: 20px 0 70px;
    }
    .section-seven .logos img {
      width: 15px;
      height: 15px;
      margin-right: 13px;
    }
    .section-seven .contactus a {
      font-size: 12px;
      font-weight: 500;
      cursor: pointer;
    }
  .section-seven .footer{
    margin-top: 134px;
    width: 100%;
    height: 100px;
    /* background-color: lightblue; */
  }
  .section-seven .footer p {
    font-weight: 300;
    margin: 0 auto;
  }
    .section-seven .footer .companylogo {
      width: 100%;
      height: 45px;
      padding: 0 336px;
    }
    .section-seven .footer .companylogo img {
      width: auto;
    }
/* end section seven */






